@import "abstracts/mixins";
@import "abstracts/variables";
@import "base";

// utitlity classes

//Backgroun
.bg-light-blue {
  background: $color-light-blue;
}

.bg-light-green {
  background: $color-light-green;
}

.bg-light-red {
  background: $color-light-red;
}

//Font
.text-green {
  color: $primary-green-color;
}

.text-semi-bold {
  font-weight: 500;
}

.text-bold {
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

//Flex
.flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-self-center {
  align-self: center;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-flex-start {
  align-self: flex-start;
}

//Position
.fixed {
  position: fixed
}

.relative {
  position: relative
}

.absolute {
  position: absolute
}

//vertical align
.vertical-align-bottom {
  vertical-align: bottom
}

.vertical-align-middle {
  vertical-align: middle
}

.cursor-pointer {
  cursor: pointer
}


.wrapper {
  @extend .flex;
  min-height: 100%;
}

.sidebar {
  background: #0c365a;
  width: 340px;
  padding: 45px;
  height: 100%;
  @extend .fixed;
}

.logo-text {
  color: rgb(255 255 255 / 30%);
  font-size: 15px;
}

.nav-link {
  display: block;
  color: #fff;
  background-repeat: no-repeat;
  background-position: left;
  font-size: 16px;
  text-decoration: none;
  outline: none;
}

.nav-link-icon {
  @extend .vertical-align-middle;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.router-link-active {
  color: $primary-green-color;
}

.nav-link:hover .b {
  fill: $primary-green-color;
}

.router-link-active {
  font-weight: 600;
}

.view-container {
  @extend .relative;
  left: 340px;
  width: calc(100% - 340px);
  padding: 60px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.card-list {
  width: 50%;
}

.card-detail-transanction {
  width: 50%;
}

.card-header {
  @extend .flex;
  @extend .space-between;
}

.card-balance-text {
  font-size: 14px;
}

.card-currency-tag {
  @extend .align-self-center;
  background: $primary-green-color;
  @include border-radius(4px);
  color: #fff;
  font-size: 13px;
  padding: 4px 13px;
}

.card-balance-amount {
  @extend .flex;
}

.card-add {
  @extend .align-self-center;
}

.card-add-btn {
  background: #325baf;
  color: #fff;
  padding: 8px 12px;
  border: 0;
  @include border-radius(4px);
  font-size: 13px;
  font-weight: bold;
  @extend .cursor-pointer;
}

.add-icon {
  @extend .vertical-align-bottom;
}

.card-balance-amount h1 {
  font-size: 26px;
}

.card-tab-btn {
  background: transparent;
  border: 0;
  color: rgb(34 34 34 / 30%);
  cursor: pointer;
  font-size: 14px;
}

.card-tab-btn.active {
  @include border(2px, solid, #23cefd, bottom);
  color: #222222;
}

.card-tabs-content {
  box-shadow: 0px 2px 12px 0px #00000014;
  @include border(1px, solid, #fcfcfc);
}

.card {
  background: $primary-green-color;
  @include border-radius(8px);
  width: 100%;
}

.card-front {
  @extend .flex-direction-column;
}

.card-front-company {
  width: 83px;
  @extend .align-self-flex-end;
}

.card-front-username {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.58px;
}

.card-front-number {
  @extend .flex;
}

.card-front-number-field, .card-front-number-visible {
  background: transparent;
  border: 0;
  color: #fff;
  font-size: 14px;
  width: 70px;
  font-weight: 600;
  letter-spacing: 7px;
  outline: none;
}

.card-front-number-field {
  font-size: 26px;
}

.card-cvv-label,
.card-expire-label {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.card-expire-date {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.card-cvv-number {
  background: transparent;
  border: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  outline: none;
  letter-spacing: 5px;
  position: relative;
  top: -4px;
}

.card-type {
  @extend .align-self-flex-end;
}

.show-card-number {
  font-size: 12px;
  color: $primary-green-color;
  @extend .cursor-pointer;
  @extend .align-self-flex-end;
  background: transparent;
  border: 0;
}

.card-action {
  background: #edf3ff;
  @include border-radius(8px);
}

.card-action-list {
  @extend .flex;
  @extend .space-between;
}

.card-action-list-item {
  @extend .text-center;
}

.card-action-label {
  font-size: 13px;
  color: #0c365a;
}

.card-action-list-item-btn {
  background: transparent;
  border: 0;
  @extend .cursor-pointer;
}

.recent-transaction-item {
  @include border(1px, solid, #f0f0f0, bottom);
}

.recent-transaction-item-icon {
  width: 48px;
  @include border-radius(100%);
  @extend .text-center;
  @extend .align-self-flex-start;
  height: 48px;
}

.recent-transaction-item-icon > img {
  @extend .vertical-align-middle;
}

.recent-transaction-item-content {
  width: calc(100% - 48px);
}

.recent-transaction-item-title {
  font-size: 14px;
  font-weight: 500;
  color: #222;
}

.recent-transaction-item-date {
  font-size: 13px;
  color: #aaa;
}

.recent-transaction-item-refund-text {
  font-size: 12px;
  font-weight: 500;
  color: #325baf;
}

.recent-transaction-item-amount-value {
  font-size: 14px;
  font-weight: 600;
}

.recent-transaction-item-refund-icon {
  background: #325baf;
  padding: 1px 5px;
  @include border-radius(7px);
}

.show-card-number-icon {
  @extend .vertical-align-middle;
}

.view-all-card-transaction {
  @extend .text-center;
}

.view-all-card-transaction-btn {
  font-size: 13px;
  font-weight: 500;
  background: transparent;
  border: 0;
  @extend .cursor-pointer;
}