@mixin border($width, $style, $color, $position: false) {
  @if $position {
    border-#{$position}: $width $style $color;
  } @else {
    border: $width $style $color;
  }
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

$spaceamounts: (0,2, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50,55,60,65,70, 75, 80, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
    .m#{$space} {
      margin: #{$space}px !important;
    } 
    .p#{$space} {
      padding: #{$space}px !important;
    }
    .my#{$space} {
      margin-top: #{$space}px !important;
      margin-bottom: #{$space}px !important;
    }
    .mx#{$space} {
      margin-left: #{$space}px !important;
      margin-right: #{$space}px !important;
    }
    .px#{$space} {
      padding-left: #{$space}px !important;
      padding-right: #{$space}px !important;
    }
    .py#{$space} {
      padding-top: #{$space}px !important;
      padding-bottom: #{$space}px !important;
    }
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}#{$space} {
      margin-#{$side}: #{$space}px !important;
    }
    
    .p#{str-slice($side, 0, 1)}#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}